.burger-wrap {
	display: inline-block;
	transition: all .2s ease;

	& .burger {
		width: 30px;
		height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		cursor: pointer;
	}

	& .burger span {
		width: 100%;
		height: 2px;
		display: block;
		background: $textColorLight;
		position: absolute;
		transition: all 0.2s;
		left: 0;
	}

	& .burger span:nth-child(1) {
		top:0;
	}

	& .burger span:nth-child(4) {
		bottom:0;
	}

	.second {
		transform: rotate(45deg);
	}

	.third {
		transform: rotate(-45deg);
	}

	.first {
		transform:  scale(0) !important;
	}

	.fourth {
			transform: scale(0) !important;
	}
}