.article {
    padding-top: 67px;
    padding-bottom: 70px;

    @media (max-width: $md2+px) {
        padding-top: 47px;
        padding-left: 3px;
        padding-bottom: 60px;
    }

    @media (max-width: $md3+px) {
        padding-top: 43px;
        padding-left: 0;
    }

    &__columns {
        display: flex;
        padding-bottom: 40px;
        border-bottom: 1px solid #E7EAEC;

        @media (max-width: $md3+px) {
            display: block;
        }
    }

    &__col-1 {

       // margin-bottom: 40px;

        @media (min-width: 992px) {
            margin-right: 70px;
            flex: 0 0 calc(70% - 70px);
            width: calc(70% - 70px);
        }

        @media (min-width: 768px) {
            flex: 0 0 calc(70% - 30px);
            width: calc(70% - 30px);
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

    &__col-2 {
        @media (max-width: $md3+px) {
            display: none;
        }
        
        @media (min-width: 768px) {
            flex: 0 0 30%;
            width: 30%;
        }
    }   

    &__side-images {
        @media (max-width: $md3+px) {
            margin-bottom: 16px;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
        & img {
            display: block;
            width: 100%;
            height: auto;
            margin-bottom: 40px;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__head {
        width: 100%;
        min-width: 0;
        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }

        & .labels-carousel {
            margin-bottom: 20px;
        }

        & .social {
            margin-bottom: 15px;
            align-items: center;
            margin-left: auto;

            & > li {
                margin-bottom: 0;
                &:not(:last-child) {
                    margin-right: 20px;

                    @media (max-width: $md3+px) {
                        margin-right: 16px;
                    }
                }

                &:first-child {
                    & a {
                        font-size: 20px;

                        @media (max-width: $md3+px) {
                            font-size: 16px;
                        }
                    }
                }
                & a {
                    color: $textColor;
                    font-size: 23px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width: $md3+px) {
                        font-size: 18px;
                    }
                    

                    & i {
                        display: inline-block;
                    }
                }
            }
        }
    }

    &__head-top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__text {

        & > *:last-child {
            margin-bottom: 0;
        }

        @media (max-width: $md3+px) {
            &.text-content {
                font-size: 16px;
            }
        }
    }
}
